<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer class="layout-footer" th:fragment="footer">
		<div class="container">
			<span class="footer-copy">&copy; 2023 Vinícius Souza</span>
			<ul>
				<li><a href="https://github.com/v1n1c1u" target="_blank"><i class="fa-brands fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/vin%C3%ADcius-souza-a108a6201/" target="_blank"><i class="fa-brands fa-linkedin"></a></i></li>
			</ul>
		</div>
	</footer> 
</body>
</html>