<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal" th:fragment="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close-button" data-dismiss="modal" aria-label="Close">&times;</button>-->
                    <div class="modal-header-title">
                        <h4 class="modal-title"><i class="oi oi-warning"></i>&nbsp;&nbsp;Careful!</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Once you delete it, there is no turning back!</p>
                    <p>Click OK to delete.&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button id="cancel_confirm" type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="oi oi-x"></i>&nbsp;&nbsp;Cancel</button>
                    <button id="ok_confirm" type="button" class="btn btn-primary" ><i class="oi oi-check"></i>&nbsp;&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>