<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8"/>
</head>
<body>	
	<section class="layout-content" layout:fragment="content-body">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>List Employees</span>
					</li>
				</ul>
				<a class="btn btn-primary btn-md" href="/employees/register" role="button">
					<span class="oi oi-plus" title="Register" aria-hidden="true"></span>
					<span>Register Employee</span>
				</a>
			</div>
		</nav>
		<div class="container">

			<p>
				<span>Search by: </span>
				<button class="btn btn-primary search-tag" type="button" data-bs-toggle="collapse" href="#collapseName"
						aria-controls="collapseName">Name
				</button>
				<button class="btn btn-primary search-tag" type="button" data-bs-toggle="collapse" href="#collapseRole"
						aria-controls="collapseRole">Role
				</button>
				<button class="btn btn-primary search-tag" type="button" data-bs-toggle="collapse" href="#collapseDate"
						aria-controls="collapseDate">Dates
				</button>
			</p>
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseName">
						<nav class="navbar navbar-light bg-light">
							<form class="form-inline search-form" method="GET" th:action="@{/employees/search/name}">
								<input class="form-control mr-sm-2" type="search" placeholder="Name" aria-label="Search"
										th:name="name" />
								<button class="btn btn-outline-success my-2 my-sm-0 search-button">
									<i class="oi oi-magnifying-glass"></i>
									Search
								</button>
							</form>
						</nav>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseRole">
						<nav class="navbar navbar-light bg-light">
							<form class="form-inline search-form" method="GET" th:action="@{/employees/search/role}">
								<select class="form-control mr-sm-2" th:name="role" aria-label="Search">
									<option value="">Role</option>
									<option th:each="r : ${roles}" th:value="${r.id}" th:text="${r.name}"></option>
								</select>
								<button class="btn btn-outline-success my-2 my-sm-0 search-button">
									<i class="oi oi-magnifying-glass"></i>
									Search
								</button>
							</form>
						</nav>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseDate">
						<nav class="navbar navbar-light bg-light">
							<form class="form-inline search-form" method="GET" th:action="@{/employees/search/date}">
								<input class="form-control mr-sm-2" type="date" aria-label="Search"
										th:name="start" />
								<input class="form-control mr-sm-2" type="date" aria-label="Search"
										th:name="finish" />
								<button class="btn btn-outline-success my-2 my-sm-0 search-button">
									<i class="oi oi-magnifying-glass"></i>
									Search
								</button>
							</form>
						</nav>

					</div>
				</div>
			</div>


			<div class="table-responsive">
				<div th:replace="~{fragments/alert}"></div>
				<table class="table table-striped table-hover table-sm">
					<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Salary</th>
						<th>Department</th>
						<th>Role</th>
						<th class="centered-text">Address</th>
						<th>Start Date</th>
						<th>Termination Date</th>
						<th class="centered-text">Action</th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="e : ${pageEmployee.data}">
							<td th:text="${e.id}"></td>
							<td th:text="${e.name}"></td>
							<td th:text="|R$ ${{e.salary}}|"></td>
							<td th:text="${e.role.department.name}"></td>
							<td th:text="${e.role.name}"></td>
							<td class="centered-text">
								<button type="button" class="btn btn-secondary btn-sm popover-btn" data-container="body"
										data-toggle="popover" data-bs-placement="top"
										th:attr="data-bs-content=${#strings.concat(
													e.address.address, ', ',
													e.address.number, ' ',
													e.address.complement, ' - ',
													e.address.city, ' - ',
													e.address.state.acronym, ' - ',
													e.address.postalCode
													)}"
										>
									<span class="oi oi-eye" title="View address" aria-hidden="true"></span>
								</button>
							</td>
							<td th:text="${#temporals.format(e.startDate, 'dd/MM/yyyy')}"></td>
							<td th:text="${e.finishDate == null ? '':#temporals.format(e.finishDate, 'dd/MM/yyyy')}"></td>
							<td colspan="2" class="centered-text">
								<a class="btn btn-info btn-sm" th:href="@{/employees/edit/{id} (id=${e.id})}" role="button">
									<span class="oi oi-brush" title="Edit" aria-hidden="true"></span>
								</a>
								<button th:id="${'btn_employees/delete/' + e.id}" type="button" class="btn btn-danger btn-sm"
										data-bs-toggle="modal" data-bs-target="#myModal">
									<span class="oi oi-circle-x" title="Delete" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="$page-item">
							<a class="page-link" th:href="@{/employees/list(page=${1})}" tabindex="-1">First</a>
						</li>
						<li th:class="${pageEmployee.page == 1} ? 'page-item disabled' : 'page-item'">
							<a class="page-link" th:href="@{/employees/list(page=${pageEmployee.page - 1})}" tabindex="-1">Previous</a>
						</li>
						<li class="page-item">
							<span class="page-link" th:text="|${pageEmployee.page} of ${pageEmployee.totalPages}|"></span>
						</li>
						<li th:class="${pageEmployee.page == pageEmployee.totalPages} ? 'page-item disabled' : 'page-item'">
							<a class="page-link" th:href="@{/employees/list(page=${pageEmployee.page + 1})}">Next</a>
						</li>
						<li class="$page-item">
							<a class="page-link" th:href="@{/employees/list(page=${pageEmployee.totalPages})}" tabindex="-1">Last</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div th:replace="~{fragments/modal :: modal}"></div>
	</section>
</body>
</html>		