/*
 * Base structure
 */
html, body {
	height: 100%;
}

body {
	padding-top: 56px;
	padding-left: 0;
} 

/*
 * main layout
 */
.layout-main {
    display: flex;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}
#navbarsExampleDefault, .page-header{
	justify-content:space-between;
	padding-right:10px;
}
.form-group {
	margin: 0 10px 10px 0;
}
.form-row {
    display:flex;
    flex-orientation: row;
}
.form-inline{
    display:flex;
}
.search-form > input, .search-form > select{
    margin-right:10px;
}

.search-button {
    min-width:100px !important;
}
/*
 * Content
 */
.layout-content {
    width: 100%;
    padding-top: 0px;
    min-height: fit-content;
}
.header-icon {
    width: 40px;
    margin-left:10px;
    margin-right:10px;
}
.container {
	width: 100%;
	padding-top: 20px;
}

/*
 * Sidebar
 */
.sidebar {
    width: 0px;
    height: 100vh;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;    
    background-color: #f8f9fa;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.sidebar .nav {
	margin-bottom: 0px;
}

.sidebar .nav-item {
	width: 100%;
}

.sidebar .nav-item {
	margin-left: 0;
}

.sidebar .nav-link {
	border-radius: 0;
} 

.sidebar ul li:hover a, .menu ul li.active a{
    color: #777777;
}

.sidebar ul{
    list-style: none;
    padding: 10px 0px;
}

.sidebar ul li a{
    display: block;
    color:#1a1a1a;
    padding: 10px 15px;
    white-space: nowrap;
}

.sidebar.sidebar-open {
    width: 300px;
}

/*
 * nav-pills home
 */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .btn-primary{
	color: #fff;
	background-color:#0fb950;
	border-color:#26ce67;
}
.btn-primary:hover, .btn-primary:active, .btn-md:active{
	background-color:#37bd6a;
	border-color:#26ce67;
}
.navbar-brand{
    color: #26ce67;
    font-weight: bold;
}
.navbar-brand:hover{
    color: #26ce67;
    font-weight: bold;
}
/*
 * toogle do navbar do menu
 */ 

.navbar-toggle {
    display: inline-block;
    margin-left: 10px;
}
.alert {
    display: block;
}

/*
 * Footer
 */
.layout-footer {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	height: 50px;
	border-top: 1px solid #eeeeee;
}

.footer-copy {
	font-size: 92%;
	display: block;
	color: #777777;
	text-align: center;
}
footer a {
    color:#777777;
    margin-right: 20px;
}
footer a:hover {
    color: #0fb950;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top:6px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 32px;
}
.btn-default:hover {
    background-color:lightgray;
}
.close-button{
    border-style: none;
    background-color:inherit;
}
.modal-header{
    display:block;
}

.modal-header-title {
    width: 100%;
    text-align:center;
    color: rgb(231, 67, 67);
    font-size: 24px;
    font-weight: bold;
}
.modal-header-title i {
    font-size: 20px;
}
.modal-body{
    height: 150px;
    text-align:center;
    font-size: 18px;
}
.modal-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.center{
  margin: auto;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-div {
    font-size: 24px;
    text-align: center;
}
.about-text {
    width: 500px;
    margin: auto;
    text-align: justify;
}
.hello-text{
    font-size: 52px;
    color: #0fb950;
    font-weight: bold;
}
.uppercase-span {
    text-transform: uppercase;
}