<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
</head>
<body>			
	<section class="layout-content" layout:fragment="content-body">
	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container about-div">
			<h4 class="hello-text">Hello there! &#128075;</h4>
			<br/>
			<p class="about-text">
				This simple website simulates a company's control system which provides
				<span class="uppercase-span">crud</span> operations for entities such as
				departments, employees and their roles!
				<br/>
				<br/>
				Hopefully it is a good showcase of my freshly obtained full-stack development skills
				with SpringBoot and Thymeleaf. Give it a try!
			</p>
		</div>
	</section>			
</body>
</html>