<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<section class="layout-content" layout:fragment="content-body">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Register Role</span>
					</li>
				</ul>
			</div>
			<div>
				<a class="btn btn-primary btn-md" href="/roles/list" role="button">
					<span class="oi oi-spreadsheet" title="Register" aria-hidden="true"></span>
					<span>List Roles</span>
				</a>
			</div>
		</nav>
		<div class="container" id="cadastro">

			<div th:replace="~{fragments/alert}"></div>

			<form th:action="${role.id == null} ? @{/roles/save} : @{/roles/edit}" th:object="${role}" method="POST">
				<div th:replace="~{fragments/validation :: validation}"></div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="role-name">Role Name</label>
						<input type="text" class="form-control" id="role-name" placeholder="Role Name" autofocus="autofocus"
								th:field="*{name}"/>
					</div>
					<div class="form-group col-md-4">
						<label for="department-select">Department</label>
						<select id="department-select" class="form-control" th:field="*{department}">
							<option value="">Select...</option>
							<option th:each="d : ${departments}" th:value="${d.id}" th:text="${d.name}"></option>
						</select>
					</div>
				</div>
				<input type="hidden" id="id" th:field="*{id}"/> 
				<button type="submit" class="btn btn-primary btn-sm">Save</button>
			</form>
		</div>
	</section>
</body>
</html>		